@model LabHelloMvc.Models.Person;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Person</h1>
    
    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
        </tr>
            
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>
        </tr>

    </table>
    
</div>
